body {
    background-color: var(--color-background);
}

/* Tema espécies */
.specie-name {
    color: var(--color-primary);
    font-size: 100px;
    font-weight: bold;
    margin: 16px 0 26px 0;
}

/* Menu de animais */
.animais-menu {
    background-color: var(--color-surface);
}

.animais-menu__lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.animais-menu__item {
    color: var(--color-primary);
    padding: 8px 6px;
    font-weight: bold;
    font-size: 18px;

    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 20px;
}

.animais-menu__item:hover {
    background-color: var(--color-primary);
    color: var(--color-surface);
}

.animais-menu__item.ativo {
    background-color: var(--color-primary);
    color: var(--color-surface);
}


/* Descrição */
.descricao__texto {
    font-size: 14px;
    padding: 20px 0;
}


/* Vídeo */
.video-secao {
    background-color: var(--color-primary);
}

/* Materiais e Procedimentos */
.conteudo__titulo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 18px 0;
}

.conteudo__colunas {
    display: flex;
    width: 100%;
    gap: 10px;
    font-weight: bold;
}

.conteudo__materiais,
.conteudo__procedimentos {
    flex: 1;
    background-color: var(--color-surface);
    padding: 30px;
    min-height: 200px;
    border-radius: 18px;
}