:root {
  /* BASE (neutros) */
  --color-text: #3b3b3b;
  --color-background: #F7F4EA;
  --color-white: #f1e9e9;

  /* BRAND (identidade) */
  --color-primary: #103523;
  --color-primary-light: #40584C;

  /* UI (interface) */
  --color-accent: #DBE096;
  --color-surface: #f1ebd9;
  /* --color-surface: #F7F4EA; */
}

:root {
    --font-title: 'Playfair Display', serif;
    --font-subtitle: 'League Spartan', sans-serif;
    --font-text: 'Inter', sans-serif;
}

body {
    background-color: var(--color-background);
}
