/* Hero (Descrição brevia) */
.hero {
    padding: 80px 0;

    background-image: url(../assets/img/imagemIA.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
}

.hero .container {
    position: relative;
    z-index: 1;
}

.hero .container h1 {
    color: var(--color-primary);
    font-weight: 900;
}

.hero .container p {
    max-width: 50%;
    /* white-space: pre-line; */
}

/* Slides */
.destaque {
    margin: 0 0 40px 0;
    background-color: var(--color-primary);
    padding: 50px 30px 80px;
}

.carousel {
    max-width: 1200px;
    margin: 0 auto;
}


/* Categorias */
.categorias {
    background-color: var(--color-surface);
    padding: 80px 0 40px;
    position: relative;

    /* Sobreposição intencional ao carousel acima */
    margin-top: -38px;
}

.categorias ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 36px;

    list-style: none;
    padding: 0;
}

.categorias li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-width: 80px;
}

.categorias img {
    width: 100px;
    height: 100px;
    background-color: var(--color-surface);
    border-radius: 50%;
    padding: 12px;

    /* Puxa os ícones para cima, sobrepondo o carousel */
    margin-top: -180px;

    /* transition: 0.3s ease; */
}

/* .categorias li:hover img {
    transform: scale(1.08);
} */

.categorias span {
    margin-top: -40px;
    font-weight: 900;
    color: var(--color-primary);
    font-family: var(--font-subtitle);
}


/* Sobre */
.sobre {
    background-color: var(--color-surface);
    padding: 60px 20px;
}

.sobre .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre p {
    max-width: 900px;
    line-height: 1.8;
    margin-bottom: 24px;
    text-align: justify;
}

@media (max-width: 768px) {
    .hero .container p { font-size: 14px; max-width: 70%;}

    .categorias ul { gap: 10px; }
    .categorias li { min-width: 20px; }
    .categorias li img { width: 90px; height: 90px; padding: 10px; margin-top: -180px; }
    .categorias span { font-size: 14px; margin-top: -50px; }

    .sobre p { font-size: 14px; }
}

@media (max-width: 425px) {
    .hero { min-height: 300px; }
    .hero .container h1 { font-size: 24px;}
    .hero .container p { font-size: 11px; max-width: 100%;}

    .destaque { margin: 0 0 10px 0; }
    .destaque .container { padding: 0; }

    .categorias ul { gap: 4px; }
    .categorias li { min-width: 10px; }
    .categorias li img { width: 64px; height: 64px; padding: 10px; margin-top: -180px; }
    .categorias span { font-size: 11px; margin-top: -70px; }

    .sobre { padding: 10px 16px; }
    .sobre p { font-size: 11px; }
}

