<footer class="footer"> 

    <!-- <img class="footer__division" src="./assets/images/Silhueta_Vegetação_Tropical_Densa.png" alt="" aria-hidden="true"> -->
    
    <div class="container">

        <div class="elements">
            
            <div class="image-logo">
                <img src="./assets/images/logo.png" alt="WildGuide">
            </div>

            <div class="list-navegation">
                <h2>Navegação</h2>
                <ul>
                    <li><a class="list-navegation-link" href="./index.html">Início</a></li>
                    <li><a class="list-navegation-link" href="./pages/manual.html">Manual</a></li>
                    <li><a class="list-navegation-link" href="./pages/equipe.html">Equipe</a></li>
                    <li><a class="list-navegation-link" href="./pages/oprojeto.html">O projeto</a></li>
                </ul>
            </div>

            <div class="list-species">
                <h2>Espécies</h2>
                <ul>
                    <li><a class="list-navegation-link" href="./pages/mamiferos.html">Mamíferos</a></li>
                    <li><a class="list-navegation-link" href="./pages/anfibios.html">Anfíbios</a></li>
                    <li><a class="list-navegation-link" href="./pages/repteis.html">Répteis</a></li>
                    <li><a class="list-navegation-link" href="./pages/peixes.html">Peixes</a></li>
                    <li><a class="list-navegation-link" href="./pages/aves.html">Aves</a></li>
                </ul>
            </div>

            <div class="social">
                <ul class="icons-network">

                    <!-- <li>
                        <a class="icons" href="" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icons/instagram.png" alt="Instagram">
                        </a>
                    </li>

                    <li>
                        <a class="icons" href="" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icons/facebook.png" alt="Facebook">
                        </a>
                    </li>

                    <li>
                        <a class="icons" href="" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icons/tiktok.png" alt="Tiktok">
                        </a>
                    </li> -->

                    <!-- <li>
                        <a class="icons" href="" target="_blank" rel="noopener noreferrer">
                            <img src="./assets/icons/youtube.png" alt="Youtube">
                        </a>
                    </li> -->

                </ul>
            </div>

        </div>
    
        <div class="footer-botton">
            <p>WildGuide - 2026 © Todos os direitos reservados</p>
        </div>

        
    </div>
</footer>