<!-- Menu de navegação -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">

                <a class="navbar-brand" href="./index.html">
                    <!-- Logo principal: visível acima de 992px -->
                    <img class="d-none d-lg-block" src="../assets/img/logo.png" alt="WildGuide">
                    
                    <!-- Logo menor: visível abaixo de 992px -->
                    <img class="d-lg-none" src="../assets/img/logo2.png" alt="WildGuide">
                </a>

                <button class="navbar-toggler" type="button" 
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#menuLateral" 
                    aria-controls="menuLateral" 
                    aria-expanded="false" 
                    aria-label="Abrir menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="./pages/manual.html">Manual</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./pages/equipe.html">Equipe</a></li>
                                <li><a class="dropdown-item" href="#">Origem</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSpecies" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Species
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./pages/mamiferos.html">Mamíferos</a></li>
                                <li><a class="dropdown-item" href="./pages/anfibios.html">Anfíbios</a></li>
                                <li><a class="dropdown-item" href="./pages/repteis.html">Répteis</a></li>
                                <li><a class="dropdown-item" href="./pages/peixes.html">Peixes</a></li>
                                <li><a class="dropdown-item" href="./pages/aves.html">Aves</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Menu lateral mobile — fica fora do container principal - 992px -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
                    <div class="offcanvas-header">

                        <h5 class="offcanvas-logo" id="menuLateralLabel"><img src="../assets/img/logo.png" alt=""></h5>

                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./pages/manual.html">Manual</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./pages/equipe.html">Equipe</a></li>
                                    <li><a class="dropdown-item" href="#">Origem</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Species</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./pages/mamiferos.html">Mamíferos</a></li>
                                    <li><a class="dropdown-item" href="./pages/anfibios.html">Anfíbios</a></li>
                                    <li><a class="dropdown-item" href="./pages/repteis.html">Répteis</a></li>
                                    <li><a class="dropdown-item" href="./pages/peixes.html">Peixes</a></li>
                                    <li><a class="dropdown-item" href="./pages/aves.html">Aves</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>
